html, body{
	height: auto;
	width: auto;
}
.top-nav{
	height: 60px;
	width: 100%;
	position: sticky;
	border-bottom: 1px solid black;
}
i{
	margin-bottom: 10px;
}
.left{
	float: left;
	display: flex;
	padding: 5px;
	text-align: center;
}
.left img{
	margin-top: 0px;
	padding: 5px;
	margin-bottom: 5px;
}
.left a{
	text-decoration: none;
	margin-top: 0;
	padding: 5px;
	margin-bottom: 20px;
}
.right{
	float: right;
}
.logo{
	height: 40px;
	width: 250px;
}
button{
	padding: 10px;
	margin-right: 20px;
	margin-top: 10px;
	background-color: rgb(6,111,131);
}
.main{
	height: auto;
	width: 100%;
}
h1{
	margin-left: 450px;
}
.main img{
	height: 580px;
	width: 80%;
	margin-left: 130px;
}
.main p{
	margin-left: 130px;
	margin-top: 0;
	margin-right: 130px;
}
.content{
	margin-left: 300px;
	margin-right: 300px;
}
.content2{
	margin-left: 130px;
	margin-right: 130px;
}
.content2 p{
	margin-right: 130px;

}
.grid-items {
	display: grid;
	gap: 1.2rem;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.grid-items figure {
	display: flex;
	flex-direction: column;
}

.grid-items figure img {
	width: 100%;
	height: 130px;
}
figcaption{
	font-size: 12px;
}
.content3{
	margin-left: 330px;
	margin-right: 400px;
}
.content3 img{
	height: 200px;
	width: 400px;
}
.bottom{
	font-size: 12px;
	color: grey;
}
.bottom a{
	color: grey;
}
.left-section{
	float: left;
	width: 60%;
	height: auto;
	margin-left: 25px;
}
.right-section{
	float: right;
	margin-top: 0;
	width: 30%;
	height: auto;
	margin-right: 20px;
}
.right-section h3 a{
	text-decoration: none;
	color: black;
}
.right-section h3 a:hover{
	text-decoration: underline;

}
.grid-items2 {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.grid-items2 figure{
	display: flex;
	flex-direction: column;
}
.grid-items2 figure img {
	width: 80%;
	height: 100px;
}
.break{
	height: 50px;
	width: 100%;
}
.down{
	height: 60px;
	width: 100%;
}
footer{
	position: relative;
	width: 100%;
	text-decoration: none;
}
.footer-list{
	display: flex;
	justify-content: space-around;
	height: 500px;
	width: 100%;
}
.list{
	list-style-type: none;
}
.footer-list li a{
	text-decoration: none;
	display: inline-block;
}
.footer-list li a:hover{
	text-decoration: underline;
}
.list li a{
	color: black;
}
.copyright{
	width: 80%;
	height: 90px;
	display: inline;
	font-size: 16px;
	justify-content: space-between;
}
.copyright li{
	display: inline;
	color: black;
}
.copyright li a{
	text-decoration: none;
	color: black;
}
.copyright li a:hover{
	text-decoration: underline;
}